@using eSolutionTech.ViewModels.Common

@model PagedResult<eSolutionTech.ViewModels.Catalog.ShiftSettings.ShiftSettingViewModel>
@{
  ViewData["Title"] = "Danh sách loại khai báo";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
  <h1 class="mt-4">Danh sách loại khai báo</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Danh sách loại khai báo</li>
  </ol>
  <div class="card mb-12">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <a class="btn btn-success" asp-action="Create" asp-controller="ShiftSetting">Tạo mới</a>
        </div>
        <div class="col-md-6 col-xs-12">
          <form asp-action="Index" method="get">
            <div class="row">
              <div class="col-md-8">
                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Tìm</button>
                <button type="button" onclick="window.location.href='/ShiftSetting/Index'" class="btn btn-secondary">Đặt lại</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        @if (ViewBag.SuccessMsg != null)
        {
          <div id="msgAlert" class="alert alert-success" role="alert">
            @ViewBag.SuccessMsg
          </div>
        }
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered" width="100%" id="dataTable">
          <thead>
            <tr>
              <th class="text-center">
                Mã loại khai báo
              </th>
              <th class="text-center">
                Tên loại khai báo
              </th>
              <th class="text-center">
                Thời gian vào
              </th>
              <th class="text-center">
                Thời gian quá hạn vào
              </th>
              <th class="text-center">
                Thời gian ra
              </th>
              <th class="text-center">
                Thời gian quá hạn ra
              </th>
              <th class="text-center">Hành động</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model.Items)
            {
              <tr>
                <td class="text-center">
                  @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td class="text-center">
                  @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                  @Convert.ToDateTime(item.TimeIn).ToString("HH:mm")
                </td>
                <td class="text-center">
                  @Html.DisplayFor(modelItem => item.ExceedTimeIn)
                </td>
                <td class="text-center">
                  @Convert.ToDateTime(item.TimeOut).ToString("HH:mm")
                </td>
                <td class="text-center">
                  @Html.DisplayFor(modelItem => item.ExceedTimeOut)
                </td>
                <td class="text-center">
                  <a href="@Url.Action("Edit", new { id = item.Id })" name="Sửa">
                    Sửa
                  </a>
                  &ensp;
                  <a href="@Url.Action("Details", new { id = item.Id })" name="Chi tiết">
                    Chi tiết
                  </a>
                  &ensp;
                  <a href="#" onclick="remove('@item.Id')">Xoá</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      @await Component.InvokeAsync("Pager", Model)
    </div>
  </div>
</div>

@section Scripts{
  <script type="text/javascript">
    $(document).ready(function () {
      $('#dataTable').dataTable({
        "paging": false
      });
    });
    function remove(ids) {
      if (!confirm("Bạn có chắc chắn muốn xoá bản ghi này?")) {
        return false;
      }
      else {
        var model = {};
        model.Id = ids;

        var items = JSON.stringify(model);

         $.ajax({
            type: "POST",
            url: '@Url.Action("Delete")',
            data: items,
            //dataType: "text",
            contentType: "application/json; charset=utf-8",
            success: function () {
              window.location.href = '/ShiftSetting/Index';
            },
            error: function () {
                alert("Có lỗi xảy ra!");
            }
        });
      }
    };
  </script>
}

